
.container {
  padding: 4em;
  max-width: 1100px;
}

body {
  background-color: black;
}

.form {
  background-color: white;
  border: 3px solid #008ae6;
}
#header {
  font-family: cantal;
  font-weight: bold;
  text-align: center;
  background-color: #99ccff;
  max-width: 1100px;
  border: 3px solid #008ae6;
  margin-bottom: 2em;
}

p {
  text-align: center;
  font-size: 1.5em;
}

/*FORM CSS*/

.landscape img {
  max-width: 150px;
  border: 2px solid black;
}
.radio img {
  max-width: 150px;
}

#btn {
  text-align: center;
  margin-top: 2em;
}

/*MODAL CSS*/

img {
  max-width: 350px;
}

#location1, #location2, #location3, #location4, #location5, #location6, #location7 {
  display: none;
}

.modal-body #location1,.modal-body #location2,.modal-body #location3,.modal-body #location4,.modal-body #location5,.modal-body #location6,.modal-body #location7 {
  display: block;
}

.modal-body {
  background-color:
}
